@import "../app.component.scss";
@import "../utilities/colors.scss";
@import "../utilities/animations.scss";

.our-work-section {
    margin-top: 3rem;

    .container {
        margin: 2rem auto;
    }

    .project-col {
        padding: 20px;
    }

    .project-box {
        background-color: $color-black;
        width: 20rem;
        height: 12rem;;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .more {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .more-btn {
        height: 2.5rem;
        width: 7rem;
        font-size: 1rem;
        border-radius: 1.2rem;
        color: $color-primary;
        border-color: $color-primary;
        font-family: 'Sue Ellen Francisco', cursive;
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
            background-color: $color-lightgrey;
        } 
    }

}