@import "../app.component.scss";
@import "../utilities/colors.scss";

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

.contact-section {

    .container {
        margin: 2rem auto;
    }

    .vl {
        border-left: 0.1rem solid $color-black;
        height: 18rem;
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }

    .v-margin-bottom {
        margin-bottom: 1rem;
    }

    .project-col {
        padding: 10px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 1rem;
        width: 25rem;
        height: 35rem;
        background-color: $color-formcolor;
        margin-top: 4rem;
        border-radius: 2rem;
    }

    .c-title {
        margin-top: 1rem;
        font-family: 'Cinzel' , serif;
        font-weight: 400;
        color: $color-white;
    }

    .c-head {
        font-size: 2rem;
    }

    .input {
        padding: 10px;
        border-radius: 15px;
    }

    .select {
        padding-left: 6px;
        border-radius: 15px;
    }

    .more {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .more-btn {
        width: 5rem;
        border-radius: 2rem;
        color: $color-white;
        border-color: $color-white;
        font-family: 'Sue Ellen Francisco', cursive;
        text-transform: uppercase;
        font-weight: bold;
        background-color: $color-white;
        color: $color-black;
        z-index: 2;
        // background-color:  $color-morebtncolor !important;
        &:hover {
            background-color: $color-lightgrey;
        } 
    }

    .addrss-logo {
        height: 50px;
        widows: 120px;
        align-items: center;
        justify-content: center;
    }

    .address-box2 {
        margin-top: 1rem;
    }

    .address {
        display: inline-block;
        vertical-align: middle;
        margin-top: 8rem;
    }

}