<section class="home-section">
    <div class="company-video">
        <video autoplay="autoplay" muted="muted" loop="loop" class="company-video__content">
            <source src="assets/home-video.mp4" type="video/mp4">
                Your browser is not supported!
        </video>
    </div>
</section>
<section class="work-process-section">
    <div class="u-center-text u-margin-bottom u-title">
        <h2 class="u-title-text"> Our Work Process</h2>
        <hr class="u-title-hr">
    </div> 
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-3 col-lg-3">
               <div class="process-box">
                    <div class="process-box__icon process-box__icon--border1">
                        <img src="assets/Identifying-01.png">
                    </div>
                    <div class="process-box__text process-box--color1">
                        <hr class="process-box__text--hr">
                        <h5 class="process-box__text--title">Identifying</h5>
                        <p class="process-box__text--description">In any event, identifying the requirement helps in delivering a better ouput</p>
                    </div>
                    <div class="process-box__design1 process-box--color1--rev"></div>
                    <div class="process-box__design2 process-box--color1"></div>
               </div>         
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="process-box">
                        <div class="process-box__icon process-box__icon--border2">
                             <img src="assets/Budgeting-01.png">
                        </div>
                        <div class="process-box__text process-box--color2">
                            <hr class="process-box__text--hr">
                            <h5 class="process-box__text--title">Estimating</h5>
                            <p class="process-box__text--description">In any event, identifying the requirement helps in delivering a better ouput</p>
                        </div>
                        <div class="process-box__design1 process-box--color2--rev"></div>
                        <div class="process-box__design2 process-box--color2"></div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="process-box">
                        <div class="process-box__icon process-box__icon--border3">
                            <img src="assets/Designing-01.png">
                        </div>
                        <div class="process-box__text process-box--color3">
                                <hr class="process-box__text--hr">
                                <h5 class="process-box__text--title">Designing</h5>
                                <p class="process-box__text--description">In any event, identifying the requirement helps in delivering a better ouput</p>
                         </div>
                        <div class="process-box__design1 process-box--color3--rev"></div>
                        <div class="process-box__design2 process-box--color3"></div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="process-box">
                        <div class="process-box__icon process-box__icon--border4">
                            <img src="assets/Executing-01.png">
                        </div>
                        <div class="process-box__text process-box--color4"> 
                            <hr class="process-box__text--hr">
                            <h5 class="process-box__text--title">Executing</h5>
                            <p class="process-box__text--description">In any event, identifying the requirement helps in delivering a better ouput</p>
                        </div>
                        <div class="process-box__design1 process-box--color4--rev"></div>
                        <div class="process-box__design2 process-box--color4"></div>
                </div>
            </div>
        </div>
    </div>
    <hr class="work-process-section--hr">
</section>
<section class="we-offer-section">
    <div class="u-center-text u-margin-bottom u-title">
        <h2 class="u-title-text">What we Offer</h2>
        <hr class="u-title-hr">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    Important in any kind of celebration showing how happy we are.<br />
                    The vividness around motivates to spread happiness,<br />
                    so choosing the appropriate and attractive decoration excites the spirits.
                </p>
                <p>
                    Capturing memories in any kind of celebration to live in the same day in future<br />
                    can only be done by the choosing a right photographer
                </p>
                <p>
                    There are many other things that are needed to accomodate your shareholders<br />
                    of happiness to enjoy
                </p>
                <p>
                    Check if we can help you with that :)
                </p>
            </div>
        </div>
    </div>
</section>
<section class="who-we-are-section">
    <div class="u-center-text u-margin-bottom u-title">
        <h2 class="u-title-text">Who we Are</h2>
        <hr class="u-title-hr">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea ullam ad provident dignissimos veritatis. Cum, consectetur laudantium. Repellat deleniti hic aspernatur delectus quibusdam maiores provident accusantium autem accusamus! Voluptas, repellendus.</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consequatur eligendi cumque incidunt repellendus temporibus modi quaerat voluptates. Laborum libero saepe, illo mollitia quis natus velit rem eveniet praesentium excepturi!</p>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, earum eveniet? Optio esse ipsum velit ratione pariatur natus fugiat? In culpa quod, aut nisi possimus ab facilis temporibus quis molestias?</p>
            </div>
        </div>
    </div>
</section>
<section class="feedback-section">
        <div class="u-center-text u-margin-bottom u-title">
            <h2 class="u-title-text">Our Client Says</h2>
            <hr class="u-title-hr">
        </div>
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-md-3 col-lg-3">
                   <div class="feedback feedback-1">
                       <div class="feedback-title feedback-1-title">

                       </div>
                       <div class="feedback-description feedback-1-description">

                       </div>
                       <div class="feedback-rating feedback-1-rating">
                           <div class="feedback-rating--value feedback-1-rating--value">
                                <ngb-rating [rate]="5">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.feedback-1-star]="fill === 100" [class.bad-1]="index > 5">&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                           </div>
                           <div class=" feedback-rating--line feedback-1-rating--line">

                           </div>
                       </div>
                   </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="feedback feedback-2">
                        <div class="feedback-title feedback-2-title">

                        </div>
                        <div class="feedback-description feedback-2-description">
    
                        </div>
                        <div class="feedback-rating feedback-2-rating">
                            <div class="feedback-rating--value feedback-2-rating--value">
                                <ngb-rating [rate]="5">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled-2]="fill === 100" [class.bad-2]="index >= 3">&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                            <div class="feedback-rating--line  feedback-2-rating--line">
    
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="feedback feedback-3">
                        <div class="feedback-title feedback-3-title">

                        </div>
                        <div class="feedback-description feedback-3-description">
    
                        </div>
                        <div class="feedback-rating feedback-3-rating">
                            <div class="feedback-rating--value feedback-3-rating--value">
                                <ngb-rating [rate]="5">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled-3]="fill === 100" [class.bad-3]="index >= 3">&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                            <div class="feedback-rating--line  feedback-3-rating--line">
      
                            </div>
                        </div>
                    </div>                 
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class=" feedback feedback-4">
                        <div class="feedback-title feedback-4-title">

                        </div>
                        <div class="feedback-description feedback-3-description">
    
                        </div>
                        <div class="feedback-rating feedback-4-rating">
                            <div class="feedback-rating--value feedback-4-rating--value">
                                <ngb-rating [rate]="5">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled-4]="fill === 100" [class.bad-4]="index >= 3">&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                            <div class="feedback-rating--line feedback-4-rating--line">
    
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
</section>